<div class='container-fluid' ng-controller="aliranbankController" > 
    <div class='page-header hidden-print'>
        <h1>Aliran Duit Bank</h1>
    </div>
    <div class='row'>
        <div class='col-sm-5'>
            <div class='panel panel-primary'>
                <div class='panel-heading'>
                    MAKLUMAT ALIRAN BANK
                </div>
                <div class='panel-body'>
                    <form class='form-horizontal' 
                          name='form_ab' 
                          ng-submit="addToList()" >
                        <div class='form-group'>
                            <label class='col-sm-5 control-label'>Perkara</label>
                            <div class='col-sm-7'>
                                <input type='text' class='form-control text-uppercase'
                                       name='perkara' ng-model='perkara' ng-required='true' autofocus  />
                            </div>
                        </div>

                        <div class='form-group'>
                            <label class='col-xs-5 control-label'>Nama Bank</label>
                            <div class='col-xs-6' style='margin-right:0'>
                                <select class='form-control' ng-model='cawangan' ng-change='pickCawangan()' >
                                    <option value="">Sila Pilih</option>
                                    <option ng-repeat="cawangan in listCawangan" ng-value='cawangan.id'>{{cawangan.nama_cawangan}}</option>
                                </select>
                            </div>
                            <div class='col-xs-1' style='padding-left:0; margin-left:-13px'>
                                <div class='btn btn-default' data-toggle="modal" data-target="#myModal" >+</div>
                            </div>
                        </div>

                        <div class='form-group'>
                            <label class='col-sm-5 control-label'>Tarikh</label>
                            <div class='col-sm-7'>
                                <input type='text' class='form-control dp' 
                                       name='tarikh' ng-model='tarikh'  required autocomplete="off" ng-required='true' />
                            </div>
                        </div>

                        <div class='form-group'>
                            <label class='col-sm-5 control-label'>Jenis </label>
                            <div class='col-sm-7'>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="transaksi" ng-value='"masuk"' name="transaksi" /> Masuk</label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="transaksi" ng-value='"keluar"' name="transaksi"/> Keluar</label>
                            </div>
                        </div>

                        <div class='form-group'>
                            <label class='col-sm-5 control-label'>Nilai</label>
                            <div class='col-sm-5'>
                                <div class="input-group">
                                    <span class="input-group-addon">RM</span>
                                    <input type='text' class='form-control text-center' 
                                           ng-model="nilai" ng-required='true'
                                           name='nilai'
                                           onkeypress="return isNumberKey(event, this)"/>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <div class='form-group'>
                            <div class='col-sm-12 text-right'>
                                <button class='btn btn-default' type='reset'> Reset</button>
                                <button class='btn btn-primary' type='submit'><i class='fas fa-plus'></i> Daftar Aliran Bank</button>
                            </div>
                        </div>
                    </form>        
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div class="panel panel-primary">
                <div class="panel-heading">SENARAI TRANSAKSI ALIRAN BANK</div>
                <div class='panel-body'>
                    <table class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th class="text-center" style="vertical-align: middle">Tarikh</th>
                                <th class="text-center" style="vertical-align: middle">Pekara</th>
                                <th class="text-center" style="vertical-align: middle">Nama Bank</th>
                                <th class="text-center">Masuk</th>
                                <th class="text-center">Keluar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="listAliranBank.length == 0">
                                <td colspan="5"><i>Tiada transaksi didaftarkan setakat ini.</i></td>
                            </tr>
                            <tr ng-repeat="aliran in listAliranBank">
                                <td class='text-center'>{{aliran.tarikh}}</td>
                                <td class='text-uppercase'>{{aliran.perkara}}</td>
                                <td>{{aliran.cawangan}}</td>
                                <td class="text-right"><span ng-show='aliran.jenis_masuk>0'>{{ aliran.jenis_masuk | number: 2}}</span></td>
                                <td class="text-right"><span ng-show='aliran.jenis_keluar>0'>{{ aliran.jenis_keluar | number: 2}}</span></td>
                            </tr>
                        </tbody>
                        <tfoot  ng-if="listAliranBank.length > 0">
                            <tr>
                                <th colspan="3" class='text-right'>Jumlah Keseluruhan</th>
                                <th class='text-right'><span ng-show='jumlah.masuk >0'>{{ jumlah.masuk | number:2 }}</span></th>
                                <th class='text-right'><span ng-show='jumlah.keluar>0'>{{ jumlah.keluar | number:2}}</span></th>
                            </tr>
                        </tfoot>
                    </table>
                    <div ng-if="listAliranBank.length > 0" class="text-right">
                        <div class="btn btn-primary" ng-click='rekodAb()'><i class='fas fa-save'></i> Daftar Aliran Diatas</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form class="form-horizontal" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tambah Cawangan Baru</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label col-xs-4">Nama Cawangan</label>
                            <div class="col-xs-6">
                                <input type="text" ng-model="modalcawangan.nama" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Alamat</label>
                            <div class="col-xs-6">
                                <textarea ng-model="modalcawangan.alamat" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-4">No Telefon</label>
                            <div class="col-xs-6">
                                <input type="text" ng-model="modalcawangan.notelefon" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-4">No GST</label>
                            <div class="col-xs-6">
                                <input type="text" ng-model="modalcawangan.nogst" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="tambahCawangan()">Tambah Cawangan</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

<script>
    $(function () {
        $('input').attr('autocomplete','off');
    $('.dp').datepicker({
    format: 'dd/mm/yyyy'
    })
            .on('changeDate', function (ev) {
            $('.dp').datepicker('hide');
            });
    })
</script>