<div class='container-fluid' ng-controller="transactionController" >
    <div class='page-header hidden-print'>
        <h1>Maklumat Transaksi</h1>
    </div>
    <div class='row'>
        <div class='col-sm-4 hidden-print'>
            <div class='panel panel-primary'>
                <div class='panel-heading'>
                    MAKLUMAT JUALAN
                </div>
                <div class='panel-body'>
                    <form class='form-horizontal'>
                        <div class='form-group'>
                            <label class='col-xs-5 control-label'>Jual Kepada</label>
                            <div class='col-xs-6' style='margin-right:0'>
                                <select class='form-control' ng-model='cawangan' ng-change='pickCawangan()' required >
                                    <option ng-repeat="cawangan in listCawangan" ng-value='cawangan.id'>{{cawangan.nama_cawangan}}</option>
                                </select>
                            </div>
                            <div class='col-xs-1' style='padding-left:0; margin-left:-13px'>
                                <div class='btn btn-default' data-toggle="modal" data-target="#myModal" >+</div>
                            </div>
                        </div>

                        <div class='form-group'>
                            <label class='col-sm-5 control-label'>Tarikh</label>
                            <div class='col-sm-7'>
                                <input type='text' class='form-control dp' name='tarikh' ng-model='tarikh'  required/>
                            </div>
                        </div>

                        <hr>

                        <div class='form-group'>
                            <label class='col-sm-5 control-label'>Perkara</label>
                            <div class='col-sm-7'>
                                <input type='text' class='form-control text-uppercase' ng-model='perkara'  required/>
                            </div>
                        </div>


                        <div class='form-group'>
                            <label class='col-sm-5 control-label'>Market</label>
                            <div class='col-sm-7'>
                                <input type='text' class='form-control' ng-model="market"  
                                    ng-required="market_required"
                                       onkeypress="return isNumberKey(event,this)" ng-keyup="kiraHarga()" />
                            </div>
                        </div>

                        <div class='form-group'>
                            <label class='col-sm-5 control-label'>Tolak</label>
                            <div class='col-sm-7'>
                                <input type='text' class='form-control' ng-model='tolak'  
                                        ng-required="tolak_required"
                                       onkeypress="return isNumberKey(event, this)" ng-keyup="kiraHarga()" />
                            </div>
                        </div>

                        <div class='form-group'>
                            <label class='col-sm-5 control-label'>Berat Jual</label>
                            <div class='col-sm-5'>
                                <div class='input-group'>
                                    <input type='text' 
                                    class='form-control text-center' 
                                    ng-model='berat'  
                                    ng-change="kiraHarga()"
                                    readonly
                                    />
                                    <span class='input-group-addon'>g</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label">Maklumat Emas</label>
                            <div class="col-sm-7">
                                <table class="table table-bordered table-condensed">
                                    <tbody>
                                        <tr ng-repeat="list in list_emas">
                                            <td>{{ list.nama_cawangan }}</td>
                                            <td class='text-right'>{{ list.berat_jual | number:2}} g</td>
                                            <td class='text-center'>
                                                <input type="checkbox" 
                                                ng-model="berat_pilih[list.id]" 
                                                ng-value="list.berat_jual"
                                                ng-change="pilih_berat_ini(list.id)"
                                                ng-disabled="berat_pilih_disabled[list.id]"
                                                /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <div class='form-group'>
                            <label class='col-sm-5 control-label'>Harga</label>
                            <div class='col-sm-7'>
                                <div class='input-group'>
                                    <div class="form-control-static"> RM {{harga_besar | number:2}}</div>
                                </div>
                            </div>
                        </div>

                        <div class='form-group'>
                            <label class='col-sm-5 control-label'>SST</label>
                            <div class='col-sm-7'>
                                <label class='radio-inline'>
                                    <input type='radio' ng-value='0' ng-model="zr" /> ZR 0%
                                </label>
                                <label class='radio-inline'>
                                    <input type='radio' ng-value='0' ng-model='gst' ng-checked="true" checked/> SR 0%
                                </label>
                            </div>
                        </div>

                        <hr>

                        <div class='form-group'>
                            <div class='col-sm-12 text-right'>
                                <button class='btn btn-default' type='reset'> Reset</button>
                                <button class='btn btn-primary' type='button' ng-click='addToList()'> Masuk Senarai Jualan</button>
                            </div>
                        </div>
                    </form>        
                </div>
            </div>

        </div>
        <div class='col-sm-8 hidden-print'>
            <div class='panel panel-primary'>
                <div class='panel-heading'>PREVIEW RESIT</div> 
                <div class='panel-body'>
                    <header>
                        <div class='row'>
                            <div class='col-xs-6 text-left'><strong>TAX INVOICE</strong></div>
                            <div class='col-xs-6 text-right' style='right:120px;'><strong>NO BIL : {{ nobil }}</strong></div>
                        </div>
                        <div class='text-center'>
                            <h3>{{kedai.namakedai}}</h3>
                            <div>{{kedai.no_gst}}</div>
                            <div>{{kedai.alamatkedai}}</div>
                            <div>{{kedai.telefon}}</div>
                        </div>

                        <div>
                            <br>
                            <table>
                                <tr>
                                    <th style='width: 80px;'>Kepada</th>
                                    <th style='width: 10px;'>:</th>
                                    <td>{{jualkepada.namacawangan}}</td>
                                </tr>
                                <tr>
                                    <th style="vertical-align: top;">Alamat</th>
                                    <th style="vertical-align: top;">:</th>
                                    <td>
                                        <div style="white-space: pre-line">{{jualkepada.alamatkedai}}</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </header>
                    <section>
                        <br>
                        <table class='table table-bordered table-condensed'>
                            <thead>
                                <tr>
                                    <th class='text-center' style='vertical-align: middle' rowspan="2">NO</th>
                                    <th class='text-center' style='vertical-align: middle' rowspan="2">TARIKH</th>
                                    <th class='text-center' style='vertical-align: middle' rowspan="2">PERKARA</th>
                                    <th class='text-center' style='vertical-align: middle' rowspan="2">MARKET</th>
                                    <th class='text-center' style='vertical-align: middle' rowspan="2">BERAT</th>
                                    <th class='text-center' style='vertical-align: middle' colspan="2">HARGA</th>
                                    <th rowspan="2"></th>
                                </tr>
                                <tr>
                                    <th class='text-center' >RM</th>
                                    <th class='text-center' >SEN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="itemList.length == 0">
                                    <td colspan="8"><i>Tiada makluat jualan setakat ini</i></td>
                                </tr>
                                <tr ng-repeat="list in itemList">
                                    <td class='text-center'>{{$index + 1}}</td>
                                    <td class='text-center'>{{list.tarikh}}</td>
                                    <td class='text-uppercase'>{{list.perkara}}</td>
                                    <td class='text-center'>{{list.market}}</td>
                                    <td class='text-center'>{{list.berat}} g</td>
                                    <td class='text-right'>{{list.harga | number:0}}</td>
                                    <td class='text-left'>{{list.hargaSen}}</td>
                                    <td class="text-center" style="width:50px">
                                        <div class="btn btn-danger btn-xs" ng-click="deleteInList($index)"><i class="fas fa-times"></i></div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class='text-right' colspan="5">Jumlah</td>
                                    <td class='text-right'>{{jumlah}}</td>
                                    <td>{{jumlahSen}}</td>
                                    <td rowspan="5"></td>
                                </tr>
                                <tr>
                                    <td class='text-right' colspan="5">Adjust</td>
                                    <td class='text-right'>{{adjust}}</td>
                                    <td>{{adjustSen}}</td>
                                </tr>
                                <tr>
                                    <td class='text-right' colspan="5">Jumlah Seterusnya</td>
                                    <td>{{jumlahSeterusnya}}</td>
                                    <td>{{jumlahSeterusnyaSen}}</td>
                                </tr>
                                <tr>
                                    <td class='text-right' colspan="5">SST 0%</td>
                                    <td class='text-right'>{{jumlahGst}}</td>
                                    <td>{{jumlahGstSen}}</td>
                                </tr>
                                <tr>
                                    <td class='text-right' colspan="5">Jumlah RM</td>
                                    <td class='text-right'>{{jumlahBesar}}</td>
                                    <td>{{jumlahBesarSen}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </section>
                    <footer></footer>
                </div>
                <div class='panel-footer text-right'>
                    <button class='btn btn-primary' ng-click='printOnlyBtn(latestResit)' ng-class="printOnly">Cetak Resit</button>
                    <button class='btn btn-primary' ng-click='postJualan()' ng-class="beforeSave">Simpan & Cetak Resit</button>
                    <button class='btn btn-primary' ng-click='updateJualan(nobil)' ng-class="updateOnly">Kemaskini & Cetak Resit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form class="form-horizontal" >
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Tambah Cawangan Baru</h4>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label col-xs-4">Nama Cawangan</label>
                            <div class="col-xs-6">
                                <input type="text" ng-model="modalcawangan.nama" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">Alamat</label>
                            <div class="col-xs-6">
                                <textarea ng-model="modalcawangan.alamat" class="form-control"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-4">No Telefon</label>
                            <div class="col-xs-6">
                                <input type="text" ng-model="modalcawangan.notelefon" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-4">No GST</label>
                            <div class="col-xs-6">
                                <input type="text" ng-model="modalcawangan.nogst" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="tambahCawangan()">Tambah Cawangan</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>

<script>
    $(function () {
        $('.dp').datepicker({
            format: 'dd/mm/yyyy'
        })
                .on('changeDate', function (ev) {
                    $('.dp').datepicker('hide');
                });
    })
</script>