<div class='container-fluid' ng-controller="laporanHarianController">
    <div class='page-header hidden-print'>
        <h1>Laporan Harian </h1>
    </div>
    <div class='row'>
        <div class='col-sm-9'>
            <div class='panel panel-primary'>
                <div class='panel-heading'><i class='fas fa-clipboard'></i> Senarai Transaksi</div>
                <div class='panel-body'>
                    <form class='form-horizontal'>
                        <div class='form-group'>
                            <label class='col-sm-2 control-label'>Tarikh Mula</label>
                            <div class='col-sm-3'>
                                <input type='text' class='form-control dp' name='tarikhMula' ng-model='tarikhMula'  required/>
                            </div>

                            <label class='col-sm-2 control-label'>Tarikh Akhir</label>
                            <div class='col-sm-3'>
                                <input type='text' class='form-control dp' name='tarikhAkhir' ng-model='tarikhAkhir'  required/>
                            </div>

                            <div class='col-sm-2'>
                                <button type="submit" class='btn btn-primary btn-block'><i class='fas fa-search'></i> Kemaskini</button>
                            </div>
                        </div>

                    </form>

                    <hr>

                    <table class='table table-bordered'>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Tarikh Dan Masa</th>
                                <th>Perkara</th>
                                <th class='text-center'>Masuk</th>
                                <th class='text-center'>Keluar</th>
                                <th class='text-center'>Ahli</th>
                                <th class='text-center'>Cawangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="aliran in listAliran.list">
                                <td>{{ ($index + 1)}}</td>
                                <td>{{ aliran.at_timeDate}}</td>
                                <td>{{ aliran.at_perkara}}</td>
                                <td class="text-right">{{ (aliran.at_kategori == 1) ? (aliran.at_jumlah | number:2) :''}}</td>
                                <td class="text-right">{{ (aliran.at_kategori == 2) ? (aliran.at_jumlah | number:2) :''}}</td>
                                <td>{{ aliran.ahli}}</td>
                                <td>{{ aliran.cawangan}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class='panel-heading'>Ringkasan Maklumat</div>
                <table class="table">
                <tbody>
                    <tr>
                        <th>Masuk</th>
                        <td class="text-right">{{listAliran.summary.masuk| number:2}}</td>
                    </tr>
                    <tr>
                        <th>Keluar</th>
                        <td class="text-right">{{listAliran.summary.keluar| number:2}}</td>
                    </tr>
                    <tr>
                        <th>Jumlah</th>
                        <td class="text-right">{{(listAliran.summary.masuk - listAliran.summary.keluar) | number:2}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
    $('.dp').datepicker({
    format: 'dd/mm/yyyy'
    })
            .on('changeDate', function (ev) {
            $('.dp').datepicker('hide');
            });
    })
</script>