<div class='container-fluid' ng-controller="transaksiKeseluruhanBankController">
    <div class='page-header hidden-print'>
        <h1>Rekod Transaksi Keseluruhan</h1>
    </div>
    <div class='row'>
        <div class='col-sm-9'>
            <div class='panel panel-primary'>
                <div class='panel-heading'><i class='fas fa-clipboard'></i> Senarai 100 Transaksi Terkini</div>
                <div class='panel-body'>
                    <form class='form-horizontal'>
                        <div class='form-group'>
                            <label class='col-sm-2 control-label'>Tarikh Mula</label>
                            <div class='col-sm-3'>
                                <input type='text' class='form-control dp' name='tarikhMula' ng-model='tarikhMula'  required/>
                            </div>
                            
                            <label class='col-sm-2 control-label'>Tarikh Akhir</label>
                            <div class='col-sm-3'>
                                <input type='text' class='form-control dp' name='tarikhAkhir' ng-model='tarikhAkhir'  required/>
                            </div>
                            
                            <div class='col-sm-2'>
                                <button type="submit" class='btn btn-primary btn-block'><i class='fas fa-search'></i> Cari</button>
                            </div>
                        </div>
                        
                    </form>
                    
                    <hr>
                    
                    <table class='table table-bordered table-condensed'>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Tarikh Dan Masa</th>
                            <th>Perkara</th>
                            <th class='text-center'>Masuk</th>
                            <th class='text-center'>Keluar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="aliran in listAliranBank.list">
                            <td>{{($index+1)}}</td>
                            <td>{{aliran.timestamp}}</td>
                            <td>{{aliran.perkara}}</td>
                            <td class="text-right">{{ (aliran.kategori=='1') ? (aliran.jumlah | number:2) : '' }}</td>
                            <td class="text-right">{{ (aliran.kategori=='2') ? (aliran.jumlah | number:2) : ''}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">RINGKASAN JUMLAH TRANSAKSI</div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Masuk</th>
                            <td class="text-right">{{listAliranBank.summary.masuk | number:2}}</td>
                        </tr>
                        <tr>
                            <th>Keluar</th>
                            <td class="text-right">{{listAliranBank.summary.keluar | number:2}}</td>
                        </tr>
                        <tr>
                            <th>Dalam Bank</th>
                            <td class="text-right">{{(listAliranBank.summary.masuk - listAliranBank.summary.keluar) | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.dp').datepicker({
            format: 'dd/mm/yyyy'
        })
                .on('changeDate', function (ev) {
                    $('.dp').datepicker('hide');
                });
    })
</script>