<div class='container-fluid' ng-controller="transaksiKeseluruhanController">
    <div class='page-header hidden-print'>
        <h1>Rekod Transaksi Keseluruhan</h1>
    </div>
    <div class='row'>
        <div class='col-sm-9'>
            <div class='panel panel-primary'>
                <div class='panel-heading'><i class='fas fa-clipboard'></i> Senarai Transaksi</div>
                <div class='panel-body'>
                    <form class='form-horizontal'>
                        <div class='form-group'>
                            <label class='col-sm-2 control-label'>Tarikh Mula</label>
                            <div class='col-sm-3'>
                                <input type='text' class='form-control dp' name='tarikhMula' ng-model='tarikhMula'  required/>
                            </div>
                            
                            <label class='col-sm-2 control-label'>Tarikh Akhir</label>
                            <div class='col-sm-3'>
                                <input type='text' class='form-control dp' name='tarikhAkhir' ng-model='tarikhAkhir'  required/>
                            </div>
                            
                            <div class='col-sm-2'>
                                <button type="submit" class='btn btn-primary btn-block'><i class='fas fa-search'></i> Cari</button>
                            </div>
                        </div>
                        
                    </form>
                    
                    <hr>
                    
                    <table class='table table-bordered table-condensed'>
                    <thead>
                        <tr>
                            <th rowspan="2">No</th>
                            <th rowspan="2">Tarikh Dan Masa</th>
                            <th rowspan="2">Perkara</th>
                            <th rowspan="2">Kakitangan</th>
                            <th colspan="2" class='text-center table-bottom-border-none' style='border-bottom: none'>Jumlah</th>
                            <th colspan="2" class='text-center table-bottom-border-none'>Emas</th>
                        </tr>
                        <tr>
                            <th class='text-center'>Masuk</th>
                            <th class='text-center'>Keluar</th>
                            <th class='text-center'>Berat (g)</th>
                            <th class='text-center'>Nilai</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="aliran in listAliranTunai.list">
                            <td>{{($index+1)}}</td>
                            <td>{{aliran.at_timeDate}}</td>
                            <td>{{aliran.at_perkara}}</td>
                            <td>{{aliran.stf_nama}}</td>
                            <td class="text-right">{{ (aliran.at_kategori=='1') ? (aliran.at_jumlah | number:2) : '' }}</td>
                            <td class="text-right">{{ (aliran.at_kategori=='2') ? (aliran.at_jumlah | number:2) : ''}}</td>
                            <td class="text-right">{{ (aliran.at_beratEmas>0) ? (aliran.at_beratEmas | number:2) : ''}}</td>
                            <td class="text-right">{{ (aliran.at_guna>0) ? (aliran.at_guna | number:2) : ''}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-heading">RINGKASAN JUMLAH TRANSAKSI</div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Masuk</th>
                            <td class="text-right">{{listAliranTunai.summary.jumlah_masuk | number:2}}</td>
                        </tr>
                        <tr>
                            <th>Keluar</th>
                            <td class="text-right">{{listAliranTunai.summary.jumlah_keluar | number:2}}</td>
                        </tr>
                        <tr>
                            <th>Berat Emas</th>
                            <td class="text-right">{{listAliranTunai.summary.berat_emas | number:2}}</td>
                        </tr>
                        <tr>
                            <th>Nilai Emas</th>
                            <td class="text-right">{{listAliranTunai.summary.nilai_emas | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.dp').datepicker({
            format: 'dd/mm/yyyy'
        })
                .on('changeDate', function (ev) {
                    $('.dp').datepicker('hide');
                });
    })
</script>